/* app.css 파일 */

/* 메뉴바 스타일 */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #ffc1ea;
  color: #000000;
  padding: 10px;
  z-index: 10;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
  font-size: 20px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 600;
}

nav ul li a {
  color: #6b98d3;
  text-decoration: none;
  padding: 5px 10px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  position: relative;
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
}

header {
  width: 100%;
  text-align: center;
  height: 50px;
  position: fixed;
}

b {
  display: inline-block;
  margin-left: 50px;
  margin-top: 20px;
  cursor: pointer;
}

div {
  width: 100vw;
  height: 100vh;
}

/* 네비게이션 */
#bthome {
  color: #bbbbbb;
}
b {
  font-size: 20px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 600;
  color: white;
  padding: 5px;
}
b:hover {
  color: black;
}

/* Window 1 */
#window1 {
  background-image: url('sky1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#intro {
  position: absolute;
  top: 50%;
  height: 240px;
  margin-top: -230px;
}
#intro h1 {
  color: #ca95da;
  margin-top: 175px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 600;
  font-size: 72px;
  text-align: center;
}

/* Window 2 */
#window2 {
  background-image: url('sky2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#window .text {
  position: absolute;
}

#window2 h1 {
  margin-top: 0px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
  font-size: 64px;
  color: #fff;
  line-height: 0.5;
  text-align: center;
}

#window2 h2 {
  margin-top: 45px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #fff;
  line-height: 1;
  text-align: center;
}

#window2 p {
  margin-top: 45px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  line-height: 0.5;
  text-align: center;
}

#window2 .image1 {
  margin-left: -1050px;
  width: 470px;
  position: absolute;
}

#window2 .image2 {
  margin-left: 1050px;
  width: 470px;
  position: absolute;
}

/* Window 3 */
#window3 {
  background-image: url('sky3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#window3 h1 {
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
  font-size: 64px;
  color: #fff;
  line-height: 1.5;
  text-align: center;
}

#window3 h2 {
  margin-top: 45px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #fff;
  line-height: 1.5;
  text-align: center;
}

#window3 .image1 {
  margin-left: 1100px;
  width: 650px;
  position: absolute;
}

#window3 .image2 {
  margin-left: -1100px;
  width: 650px;
  position: absolute;
}

/* Window 4 */
#window4 {
  background-image: url('sky4.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#window4 h1 {
  margin-top: 0px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
  font-size: 64px;
  color: #fff;
  line-height: 2;
  text-align: center;
}

#window4 h2 {
  margin-top: 45px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #fff;
  line-height: 2.5;
  text-align: center;
}

/* Window 5 */
#window5 {
  background-image: url('cat.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#window5 h1 {
  margin-top: 120px;
  margin-bottom: 10px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
  font-size: 64px;
  color: #fff;
  line-height: 1.5;
  text-align: center;
}
.imglist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}
.imglist img {
  width: 100px;
  margin: 10px;
  padding: 50px;
}

#window1,
#window2,
#window3,
#window4,
#window5 {
  overflow-x: hidden; /* 가로 스크롤 숨기기 */
}
