/* app.css 파일 */

/* 메뉴바 스타일 */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #eeb7d1;
  color: #000000;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
  font-size: 20px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 600;
}

nav ul li a {
  color: #6b98d3;
  text-decoration: none;
  padding: 5px 10px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
}

header {
  width: 100%;
  text-align: center;
  height: 50px;
  position: fixed;
}

b {
  display: inline-block;
  margin-left: 50px;
  margin-top: 20px;
  cursor: pointer;
}

div {
  width: 100vw;
  height: 100vh;
}

/* 네비게이션 */
#bthome {
  color: #bbbbbb;
}
b {
  font-size: 20px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 600;
  color: white;
  padding: 5px;
}
b:hover {
  color: black;
}

/* Window 1 */
#window1 {
  background-image: url('background.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#intro {
  position: absolute;
  top: 50%;
  height: 240px;
  margin-top: -200px;
}
#intro h1 {
  color: #eeb7d1;
  margin-top: 175px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 600;
  font-size: 72px;
  text-align: center;
}

/* Window 2 */
#window2 {
  background: #feac5e;
  background: -webkit-linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
  background: linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#window2 h1 {
  margin-top: 0px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
  font-size: 64px;
  color: #fff;
  line-height: 1.5;
  text-align: center;
}

#window2 h2 {
  margin-top: 40px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #fff;
  line-height: 1;
  text-align: center;
}

#window2 p {
  margin-top: 40px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  line-height: 1;
  text-align: center;
}

/* Window 3 */
#window3 {
  margin: 0;
  padding: 0;
  background: #e9ace1;
  background: -webkit-linear-gradient(to right, #e078be, #f7c18e, #fcfa80);
  background: linear-gradient(to right, #e078be, #f7c18e, #fcfa80);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

#window3 h1 {
  margin-top: 0px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
  font-size: 64px;
  color: #fff;
  line-height: 1.5;
  text-align: center;
}

#window3 h2 {
  margin-top: 45px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #fff;
  line-height: 1.5;
  text-align: center;
}

/* Window 4 */
#window4 {
  margin: 0;
  padding: 0;
  background: #70e1f5;
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);
  background: linear-gradient(to right, #ffd194, #70e1f5);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

#window4 h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
  font-size: 64px;
  color: #fff;
  line-height: 1.5;
  text-align: center;
}

#window4 h2 {
  margin-top: 65px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #fff;
  line-height: 1.5;
  text-align: center;
}

/* Window 5 */
#window5 {
  background: #b993d6;
  background: -webkit-linear-gradient(to right, #8ca6db, #b993d6);
  background: linear-gradient(to right, #8ca6db, #b993d6);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
#window5 h1 {
  margin-top: 120px;
  margin-bottom: 10px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 400;
  font-size: 64px;
  color: #fff;
  line-height: 1.5;
  text-align: center;
}
.imglist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.imglist img {
  width: 100px;
  margin: 10px;
  padding: 50px;
}
